{% extends "base.html" %} {% block content %}
<!-- <nav>
  <h1 class="logo">Logo</h1>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="login.html">login</a></li>
    <li><a href="base.html">signup</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav> -->

<div class="container3">
  <div class="loginWarpper">
    <h1
      style="
        color: rgba(255, 255, 255, 0.666);
        padding-bottom: 30px;
        font-size: 35px;
        padding-left: 11px;
      "
    >
      LOG IN
    </h1>
    <form action="submit">
      <p class="emailText">Email</p>
      <input type="email" name="email" required />
      <p class="passwordText">Password</p>
      <input type="password" name="password" minlength="8" required />
      <a href="#" class="forgotPassword">Forgot Password?</a>
      <button class="loginBtn hov" type="submit">Log In</button>
    </form>
  </div>
</div>
{% endblock %}
